{% extends "base.html" %}

{% block content %}
    <a href="{% url 'Category-create' %}">Создать Категорию</a><br>
    <a href="{% url 'CategoryDeleteList'%}">Удалить Категорию</a><br>

<form method="get">
    <label for="status">Статус</label>
    <select name="status">
        <option value="">Все</option>
        <option value="Новая">Новая</option>
        <option value="Принято в работу">Принято в работу</option>
        <option value="Выполнено">Выполнено</option>
    </select>
    <input type="submit" value="Пременить">
</form>
    {% if application %}
{% for i in applications %}

<h2>Название: {{i.title}}</h2>
<h2>Дата: {{i.date_create}}</h2>
<h2>Время: {{i.time_create}}</h2>
<h2>Описание: {{i.deck}}</h2>
<h2>Категория: {{i.category}}</h2>
<img src="{{i.image.url}}" width="450px" height="300px"/>
<h2>Статус: {{i.status}}</h2><br><br>
    <a href="{% url 'Applications-delete' i.id %}">Удалить</a><br><br>
    <a href="{% url 'ApplicationsUpdate' i.id %}">Обновить Данные</a><br><br>
{% endfor %}
    {% else %}
<p>Нету заявок</p>
    {% endif%}
{% endblock %}
