{% extends "base.html" %}

{% block content %}
   <a href="{% url 'Applications-create' %}">Создать Заявку</a>

<form method="get">
    <label for="status">Статус</label>
    <select name="status">
        <option value="">Все</option>
        <option value="Новая">Новая</option>
        <option value="Принято в работу">Принято в работу</option>
        <option value="Выполнено">Выполнено</option>
    </select>
    <input type="submit" value="Пременить">
</form>
{% if applications %}
  {% for application in applications %}
    <br><h2>Название: {{ application.title }}</h2>
    <h2>Дата: {{ application.date_create }}</h2>
    <h2>Время: {{ application.time_create }}</h2>
    <h2>Описание: {{ application.deck }}</h2>
    <h2>Категория: {{ application.category }}</h2>
    <img src="{{ application.image.url }}" width="450px" height="300px"/>
    <h2>Статус: {{ application.status }}</h2>
    <a href="{% url 'Applications-delete' application.id %}">Удалить</a><br><br>
  {% endfor %}
{% else %}
  <p>Нету заявок</p>
{% endif %}
{% endblock %}
